.container-fluid {
  height: 100vh;
  background-color: azure;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 50px;
}

.navbar {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.item {
  color: #ffffff;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 10px;
}

.login-box {
  padding : 1rem;
  border-radius: 10px;
  align-self: center;
}

.planning {
  background-color: #bbbfca;
  color: black;
}

.inprogress {
  background-color: #e8e8e8;
  color: black;
}

.done {
  background-color: #f4f4f2;
  color: black;
}

.comment {
  background-color: #9ad3bc;
  color: black;
}

.color-biru {
  background-color: #bbbfca;
  color: black;
}

.body-card {
  padding: 0;
}

.register-click {
  margin-top: 25px;
  text-align: right;
  color: #251313;
}

.login-click {
  margin-top: 25px;
  text-align: right;
  color: #251313;
}

.login-click:hover {
  cursor: pointer;
}

.register-click:hover {
  cursor: pointer;
}

.masuk {
  margin-top: 25px;
  font-weight: bold;
}

