/* 
    MY FIRST CSS DESIGN SYSTEM (CSS Framework ?)
    I called it
    ==== Mute Midnight ====
    Mochamad Zulfikar

    TODOS: 
    - Need a new font (poppins sucks)
    - Input Styling
    - Image styling
    - Menu items transition
    - Typography set styling
    - Tooltips
    - shadow clases
    - documentation
    - navbar
    - and of course RESPONSIVENESS (its not mobile first)

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: hsl(230, 21%, 16%);

    font-family: 'Poppins', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(230, 21%, 16%);
    color: rgba(137, 150, 184, 1);
}
.auth-container{    
    max-width: 100%;
    display: flex;
    flex-direction: column;    
    align-items: center;
}
.shadow-sm{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15) ;

}
.auth-card{
    width: 400px;    
    box-sizing: border-box;
    display: flex;;
}
.auth-card p{
    text-align: center;
}
.card{
    display: flex;    
    background-color: hsl(230, 21%, 25%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:1rem;
    border-radius:7px;
    min-width: 150px;
}

.two-col-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
    background-color: hsl(230, 21%, 16%);
    color: rgba(137, 150, 184, 1);
}

.sidebar {
    display: grid;
    grid-template-rows: 120px 1fr auto;
}


.sidebar-title {
    padding: 1.5rem;
}

.logo>h2 {
    margin: 0;
}

.logo {
    border-left: 5px solid rgba(137, 150, 184, 1);
    position: relative;
    padding-left: 5px;
}

.logo-sub {
    padding: 0;
    margin-top: 2rem;
    padding-left: 5px;
}

.logo-sub>p {
    margin: 0;
    font-size: 10pt;
    font-weight: 400;
}

.bang {
    position: absolute;
    top: 20px;
    left: 22px;
}

.menu-item {
    color: rgba(137, 150, 184, 0.75);
    padding: 0px 1.5rem;
    height: 32px;
}

.menu-item:hover {
    color: rgba(137, 150, 184, 1);
    cursor: pointer;
}

.menu-item>i {
    margin-right: 0.75rem;
}

.menu-item.active {
    color: rgba(137, 150, 184, 1);
}

.menu-section>p {
    color: rgba(137, 150, 184, 0.50);
    font-weight: 600;
    margin: 0;
    margin-right: 1rem;
}

.menu-section {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0rem 0rem 0rem 1rem;
    margin: 1rem 0;
    align-items: center;
    justify-content: center;
}

.divider>hr {
    border: none;
    border-top: 1px solid rgba(57, 64, 90, 1);
}

.sidebar-footer {
    padding-bottom: 2rem;
}

.content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 1.5rem;
    background-color: rgba(43, 47, 66, 1);
    color: rgba(137, 150, 184, 1);
    border-radius: 10px;
    box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.content-main {
    margin-top: 1rem;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-color: rgba(49, 56, 78, 1) rgba(32, 35, 49, 1);
    padding-bottom: 1rem;
    align-items: flex-start;
}

.content-main::-webkit-scrollbar-track {
    background-color: #202331;
    border-radius: 10px;
    border: 4px solid rgba(43, 47, 66, 1);
    height: 5px;
}

.content-main::-webkit-scrollbar {
    height: 15px;
    cursor: pointer;
}

.content-main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: hsl(226, 23%, 30%);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.content-main::-webkit-scrollbar-thumb:active {
    border-radius: 10px;
    background-color: #58658d;
}

.content-main::-webkit-scrollbar-track-piece {
    height: 100px;
}

.task-board-title {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin-bottom: 0.5rem;
}

.task-board-title>p {
    margin: 0;
    padding: 0;
    margin-left: 5px;
    font-weight: 600;
}

.task-board {
    min-width: 240px;
    background-color: rgba(49, 56, 78, 1);
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    margin-right: 10px;
}

.card-menu {
    cursor: pointer;
}

.task {
    background-color: rgba(57, 64, 90, 1);
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
    font-size: 12px;
    min-height: 20px;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.new-list:hover {
    background-color: hsl(227, 22%, 27%);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 100ms;
}

.new-list {
    transition: 100ms;
    background-color: hsl(227, 22%, 17%);
    min-width: 130px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 8px;
    font-size: 12px;
    min-height: 20px;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.author {
    padding: 0;
    margin: 0;
    padding-left: 5px;
    color: hsl(229, 21%, 35%);
    font-size: 10pt;
}


/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-body{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(137, 150, 184, 1);
    background-color: hsl(227, 22%, 27%);
    padding: 1rem 1.5rem;
    width: 400px;
    max-width: 100%;
    border-radius: 6px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.modal-title{
    display:flex;
    align-items: center;
    margin-bottom: 1rem;
}
.modal-title p{
    margin:0;
    margin-left:0.6rem;
    font-size: 13pt;
    font-weight: 600;
}
.modal-footer{
    margin-top: 1.5rem;
}

/* BUTTONS */
.btn{
    padding: 5px 10px;
    border-radius: 5px;
    color:rgba(137, 150, 184, 1);
    text-decoration: none;
    transition: 100ms;
}
.btn.btn-sm{
    padding: 2px 10px;
}
a.btn:hover{
    transition: 100ms;
    color:hsl(223, 25%, 70%);
    background-color: hsl(227, 22%, 35%);
}
p{
    margin:0;
}

button.btn{
    border:none;
    outline: none;
    cursor: pointer;
    color:rgba(137, 150, 184, 1);
    font-size: 12pt;
    font-family: 'Poppins', sans-serif;

}
button.btn:hover{
    transition: 100ms;
    color:hsl(223, 25%, 70%);
    background-color: hsl(227, 22%, 35%);
}

/* INPUTS */

input[type=text].task-title{
    font-family: 'Poppins', sans-serif;
    padding-left:5px;
    height: 20px;
    color:rgba(137, 150, 184, 1);
    background-color: hsl(227, 22%, 27%);
    font-size: 12pt;
    border: none;
    text-decoration:none;
    padding-bottom: 5px;
    border-bottom: 1px solid  hsl(227, 22%, 23%);
}
input[type=text].task-title:focus{
    outline:none;
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid  hsl(227, 22%, 23%);
}
input[type=text].task-title::placeholder{
    color:rgba(137, 150, 184, 1);
}
textarea::placeholder{
    color:rgba(137, 150, 184, 1);
}
textarea{
    font-family: 'Poppins', sans-serif;
    background-color: hsl(227, 22%, 20%);
    border:none;
    outline: none;
    resize: none;
    color:rgba(137, 150, 184, 1);
    padding-left: 1rem;
    padding-top: 1rem;
    border-radius: 5px;
}

input[type=text], input[type=password]{
    background-color: hsl(227, 22%, 35%);
    border:none;
    padding: 0.5rem 1rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    font-size: 12pt;
    max-width: 100%;
    color:rgba(137, 150, 184, 1);
    display: block;
    outline:none;
    box-sizing: border-box;
}
input[type=text]:focus, input[type=password]:focus{
    outline:none
}
input[type=text]::placeholder, input[type=password]::placeholder{   
    color:rgba(137, 150, 184, 1);
}
.input-group{
    width: 100%;
    margin-bottom: 0.5rem;    
}

/* UTILITI COI */
.mb-1{
    margin-bottom: 1rem;
}
.full-width{
    width: 100%;
}
.pv-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.text-sm{
    font-size: 10pt;
}
a.link{
    text-decoration: underline;
    color:#7CC5D9;
}
/* COLORS */

.btn.btn-primary{
    border-top: 3px solid #7CC5D9;    
    background-color: hsl(227, 22%, 20%);
}

.btn.btn-danger{
    border-top: 3px solid #D65857;    
    background-color: hsl(227, 22%, 20%);
}

.btn.btn-warning{
    border-top: 3px solid #D9995B;    
    background-color: hsl(227, 22%, 20%);
}

.btn.btn-success{
    border-top: 3px solid #71D9B7;    
    background-color: hsl(227, 22%, 20%);
}


.modal-body.primary{
    border-top: 3px solid #7CC5D9;    
}
.modal-body.danger{
    border-top: 3px solid #D65857;    
}
.modal-body.warning{
    border-top: 3px solid #D9995B;    
}
.modal-body.success{
    border-top: 3px solid #71D9B7;    
}

.task-board.danger {
    border-top: 2px solid #D65857;
}

.task-board.warning {
    border-top: 2px solid #D9995B;
}

.task-board.success {
    border-top: 2px solid #71D9B7;
}

.task-board.primary {
    border-top: 2px solid #7CC5D9;
}

i.success {
    color: #71D9B7;
}

i.danger {
    color: #D65857;
}

i.warning {
    color: #D9995B;
}

i.primary {
    color: #7CC5D9;
}
.new-task{
    display:flex;
    flex-direction: column;
}
.new-task-btn{
    margin-top: 7.5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7.5px;
}
.task{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}
p.task-title{
    font-size: 12pt;
}
.task-footer{
    display: flex;
    flex-direction: column;
    font-size:8pt
}
/* media query */

@media only screen and (max-width: 600px) {
    .sidebar {
        display: grid;
        grid-template-rows: 120px 1fr auto;
    }
    .two-col-layout {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: hsl(230, 21%, 16%);
        color: rgba(137, 150, 184, 1);
    }
}

.fade-enter-active,
.fade-leave-active{
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to{
    opacity: 0
}
