<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Kanban Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <section id="register-page">
        <div id="card">
            <div id="card-content">
                <div id="card-title">
                    <h5>Add assignment!</h5>
                </div>
                <form method="post" class="form">
                    <label for="user-email" style="padding-top:13px">
                        &nbsp;Title
                    </label>
                    <input id="user-email" class="form-content" type="email" name="email" />
                    <div class="form-border"></div>

                    <label for="user-email" style="padding-top:13px">
                        &nbsp;Description
                    </label>
                    <input id="user-email" class="form-content" type="email" name="email"
                        autocomplete="current-password" required />
                    <div class="form-border"></div>
                    <input id="submit-btn" type="submit" name="submit" value="ADD TASK" />
                    <input id="submit-btn" type="submit" name="submit" value="CANCEL" />

                </form>
            </div>
        </div>
    </section>
</body>

</html>